.card-header {
  color: #444;
}

.active, .card-header:hover {
    background-color: #ccc;
}

// remove the rounded border for the dropdown button
.btn.btn-primary.dropdown-toggle.w-100 {
    border-radius: 0;
}

.quiz_link {
    color: #444;
}

.carousel {
  margin: 15px;
}

.btn.btn-primary.dropdown-toggle.w-100 {
    border-radius: 0;
}

// add a margin to answers in the training section
.answers {
  margin: 10px 0px;
}

// Puts a 100% width for the forms in the enroll section
.enroll-form {
    width: 100%;
    height: 750px;
}
