.card-header {
  color: #444;
}

.active, .card-header:hover {
    background-color: #ccc;
}

.btn.btn-primary.dropdown-toggle.w-100 {
    border-radius: 0;
}

.quiz_link {
    color: #444;
}

.carousel {
  margin: 15px;
}

.btn.btn-primary.dropdown-toggle.w-100 {
    border-radius: 0;
}

.answers {
  margin: 10px 0px;
}

.enroll-form {
    width: 100%;
    height: 750px;
}
