{# templates/emails/keep_me_updated.html.twig #}

<h2> Bonjour {{new_update.name}} {{new_update.surname}} </h2>

Merci de votre interêt pour le quiz de Math Pangea. Les inscriptions ne sont pas ouvertes pour le moment, mais vous pouvez d'ors et déjà vous entrainer ou consulter les précédents concours sur notre site web.
<br/>

Vous recevrez une notification lorsque les inscriptions seront ouvertes.
<br/>

Cordialement,
</br/>

Les organisateurs
