{# templates/emails/keep_me_updated.html.twig #}

<h2> There has been a new subscriber </h2>

Hi administrator, <br/>

There has been a new person willing to be kept updated about the Pangea quiz! Here are the related informations:

<ul>
  <li> Name: {{new_update.name}} </li>
  <li> Surname: {{new_update.surname}} </li>
  <li> Email address: {{new_update.email}} </li>
</ul>
