
{% extends 'homepage.html.twig' %}

{% block title %}
  Page d'inscription au concours
{% endblock %}

{% block body %}

  <!-- Inscription to the coming quiz, with the google forms -->
  <h1>Inscription</h1>

Veuillez vous inscrire selon votre type d'inscription (individuel ou collectif):

<div class="row">
  <div class="col">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSevIpbraGYIt_kXu6ZFJLH2cZaUT_PDjK9JPw_c5gLbocEMvQ/viewform?embedded=true" class="enroll-form" height="750px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>
  <div class="col">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfOpPsLYTz-rmxGD8CRzEVCKDA7xCpaR9rWWgcVYBWYmZS4fA/viewform?embedded=true" class="enroll-form" height="750px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>
</div>

{% endblock %}
