{% extends 'homepage.html.twig' %}

{% block title %}
  Page de règlement
{% endblock %}

{% block body %}

<h1> Règlement de l'année {{regulation.regulationYear}}</h1>

<ul>
  {% for item in regulation.items %}
      <li> {{item.regulation}} </li>
  {% endfor %}
</ul>

{% endblock %}
