{% extends 'homepage.html.twig' %}

{% block title %}
  Page d'entraînement
{% endblock %}

{% block body %}

<h1> Choix du quiz à effectuer </h1>

<h3>Primaire</h3>
<div class="d-flex" role="group" aria-label="Primary Traning Choice">
  {% for quiz in primary_quiz %}
      <a href={{ path('training', {'id': quiz.id}) }} class="btn btn-secondary w-100 training-choice-btn">Entrainement de niveau {{ difficulty[quiz.difficulty-1] }}</a>
  {% endfor %}
</div>

<h3>Secondaire</h3>
<div class="d-flex" role="group" aria-label="Secondary Traning Choice">
  {% for quiz in secondary_quiz %}
      <a href={{ path('training', {'id': quiz.id}) }} class="btn btn-secondary w-100 training-choice-btn">Entrainement de niveau {{ difficulty[quiz.difficulty-1] }}</a>
  {% endfor %}
</div>

<script>
$(document).ready(function() {
	if ($(window).width() < 550) {
 	   var noMobile = document.querySelectorAll('.training-choice-btn'),
    	i = 0,
    	l = noMobile.length;

  		for (i; i < l; i++) {
        	  $('.mobile-menu-row').append(noMobile[i]);
  		}
    }
});
</script>

{% endblock %}
